﻿@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to our COMP 680 NBA Application</h1>
        <p>By Srisri Gokanapudy, Vincent Ha, Jeffrey Sakadia</p>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
